#target {
    min-height:33em;
    margin-top:1.6em;
    background-color: #FFF;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    border: 1px solid #DDD;
    box-shadow: 0 2px 0 rgba(225,225,225,.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}