#tomatoHistory {
    min-height:33em;
    margin-top:1.6em;
    background-color: #FFF;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    border: 1px solid #DDD;
    box-shadow: 0 2px 0 rgba(225,225,225,.2);
    
    .head {
        display: flex;
        justify-content: space-between;
        margin-bottom:1em;

        .left-btn {
            display: flex;
            justify-content: space-between;
            padding-top: 4px;
            padding-bottom: 4px;

            .btn {
                font-size: 16px;
                border: 1px solid #C3C3C3;
                padding:4px 16px;
                color:#999;
                cursor: pointer;
                
            }

            .active {
                background-color: #F4F4F4;
                font-weight:600;
                color:#555;
            }

            .completed {
                border-radius: 2px 0 0 2px;
                border-right:0;
            }


            .deleted {
                margin-right: 6px;  
                border-radius: 0 2px 2px 0;
            }

            .search {
                border: 1px solid #C3C3C3;
                padding: 8px;
                cursor: pointer;

            }

            .search-input {
                width:200px;
            }
        }

        .right-btn {
            width:250px;
        }
    }

    .main {
        >ul {
            list-style: none;
            padding:0;
            >li {
                background: #FFF;
                border: 1px solid #DDD;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                border-radius: 3px;
                font-size: 14px;
                color:#222;
                padding:14px;
                margin-bottom:8px;
                display: flex;
                
                .left {
                    width:10em;
                }
                .right {
                    flex-grow: 1;
                    margin-left:1.3em
                    
                }

                .list {
                    padding:0;
                }

                .list-item {
                    list-style: none;
                    padding:7px;

                }
                .list-item:hover {
                    background:#f4f4f4
                }

                .day {
                    font-size:12px;
                    color:#888888;
                    margin-left:5px;
                }

                .time {
                    color:#999;
                    margin-right:10px;
                }
                .count {
                    margin-top:7px;
                    color:#888888;
                }
            }
        }
    }

    .ant-pagination  {
        text-align: center;
        margin-top: 25px;
    }
}