#home {
    margin-left:20px;
    margin-right:20px;

    >header {
        max-width: 960px;
        margin-bottom: 20px;
        margin-left:auto;
        margin-right:auto;
        border-bottom: 1px solid #ddd;
        display: flex;
        height: 48px;
        justify-content: space-between;
        align-items: center;

        > .logo {
            font-size: 22px;
            color:#333;
        }
    }

    .wrapper {
        display:grid;
        grid-template-columns:50% 50%;
        grid-column-gap:16px;
    }

    
}
