#home {
    margin:0 auto;
    max-width: 960px;
    padding-left:20px;
    padding-right:20px;
    

    .ant-empty {
        color:#9999
    }

    >header {
        margin-bottom: 20px;
        margin-left:auto;
        margin-right:auto;
        border-bottom: 1px solid #ddd;
        display: flex;
        height: 48px;
        justify-content: space-between;
        align-items: center;

        > .logo {
            font-size: 22px;
            color:#333;
        }
    }

    .wrapper {
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap:16px;
    }

    footer {
        margin-top:26px;
        margin-bottom:13px;
        border-top:1px solid #eee;
        color:#9A9EA8;
        font-size:small;
        padding:1em 0;
    }
    
}
