.item {
    padding: 5px 3px;
    height:34px;
    border-top:1px solid #fff;
    display: flex;
    justify-content: space-between;
    font-size: 14.4px;

    .enter {
        margin-right:5px;
    }

    .input {
        border:none;
        outline: none;
        background-color: #FFF4D0
    }

}

.item.editing {
    border-top-color:#F7EDB8;
    background-color: #FFF4D0;
    
    .input {
        margin-left:8px;
    }
}

.item.deleted {
    text-decoration: line-through;
    color:#dddddd
}