#todos {
    max-width: 960px;
    margin:0 auto;
    background:#fff;
    border:1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(225,225,225,.2);
    padding:16px;

    .ant-input-suffix {
        cursor: pointer;
        font-size: 16px;
        transform: translateY(-100%);
    }

    input {
        margin-bottom:16px;
    }

}