#login {
    max-width: 280px;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
}

#login>*{
    margin-bottom: 20px;
}

#login button{
    width:100%;
}
#login>h1 {
    text-align: center;
}